@font-face {
    font-family: 'silka';
    src: url('/fonts/silka-roman/silka-black-webfont.eot');
    src: url('/fonts/silka-roman/silka-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/silka-roman/silka-black-webfont.woff2') format('woff2'),
         url('/fonts/silka-roman/silka-black-webfont.woff') format('woff'),
         url('/fonts/silka-roman/silka-black-webfont.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'silka';
    src: url('/fonts/silka-roman/silka-bold-webfont.eot');
    src: url('/fonts/silka-roman/silka-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/silka-roman/silka-bold-webfont.woff2') format('woff2'),
         url('/fonts/silka-roman/silka-bold-webfont.woff') format('woff'),
         url('/fonts/silka-roman/silka-bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'silka';
    src: url('/fonts/silka-roman/silka-semibold-webfont.eot');
    src: url('/fonts/silka-roman/silka-semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/silka-roman/silka-semibold-webfont.woff2') format('woff2'),
    url('/fonts/silka-roman/silka-semibold-webfont.woff') format('woff'),
    url('/fonts/silka-roman/silka-semibold-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'silka';
    src: url('/fonts/silka-roman/silka-medium-webfont.eot');
    src: url('/fonts/silka-roman/silka-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/silka-roman/silka-medium-webfont.woff2') format('woff2'),
         url('/fonts/silka-roman/silka-medium-webfont.woff') format('woff'),
         url('/fonts/silka-roman/silka-medium-webfont.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'silka';
    src: url('/fonts/silka-roman/silka-regular-webfont.eot');
    src: url('/fonts/silka-roman/silka-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/silka-roman/silka-regular-webfont.woff2') format('woff2'),
         url('/fonts/silka-roman/silka-regular-webfont.woff') format('woff'),
         url('/fonts/silka-roman/silka-regular-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'silka';
    src: url('/fonts/silka-roman/silka-light-webfont.eot');
    src: url('/fonts/silka-roman/silka-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/silka-roman/silka-light-webfont.woff2') format('woff2'),
    url('/fonts/silka-roman/silka-light-webfont.woff') format('woff'),
    url('/fonts/silka-roman/silka-light-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'silka';
    src: url('/fonts/silka-roman/silka-extralight-webfont.eot');
    src: url('/fonts/silka-roman/silka-extralight-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/silka-roman/silka-extralight-webfont.woff2') format('woff2'),
    url('/fonts/silka-roman/silka-extralight-webfont.woff') format('woff'),
    url('/fonts/silka-roman/silka-extralight-webfont.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'silka';
    src: url('/fonts/silka-roman/silka-thin-webfont.eot');
    src: url('/fonts/silka-roman/silka-thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/silka-roman/silka-thin-webfont.woff2') format('woff2'),
    url('/fonts/silka-roman/silka-thin-webfont.woff') format('woff'),
    url('/fonts/silka-roman/silka-thin-webfont.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}