@import '~bootstrap/scss/bootstrap';
@import './fonts';

body {
  padding: 0;
  margin: 0;
  font-family: 'Silka', Menlo, Monaco, Lucida Console, Liberation Mono,
  DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

* {
  box-sizing: border-box;
}